* {
	margin: 0;
	padding: 0;
}

.content {
	margin: 20px auto;
	max-width: 760px;
	background: lightgreen;
}

.owl-carousel .carousel-element {
	height: 200px;
	background: yellow;
	outline: 1px solid black;
	text-align: center;
}

.owl-stage.oneElement,
.owl-stage.twoElements,
.owl-stage.threeElements {
	width: 100% !important;
	background: red !important;
	transform: none !important;
	transition: none !important;
}
.owl-stage.oneElement .owl-item {width:  100% !important;}
.owl-stage.twoElements .owl-item {width: 50% !important;}
.owl-stage.threeElements .owl-item {width: 33.333333% !important;}
